<h1>Driscoll News Homepage</h1>
<%= form_with(url: articles_path, method: 'get', local: true) do |form| %>
  <%= form.label :query, 'Search for an article' %>
  <%= form.text_field :query, placeholder: 'Eg. Football'%>
  <%= form.button 'Search'%>
<% end %>
